head
    title Спискок популярных друзей
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="/js/script.js")
    style.
        body{
            padding: 24px 0;
        }
        .ya-container{
            min-height: 400px;
            margin: 10px;
            padding: 0;
            -webkit-box-shadow: 1px 1px 2px 1px rgba(22,22,22,.5);
            box-shadow: 1px 1px 2px 1px rgba(22,22,22,.5);
            .form-inline{
                padding: 6px 6px 0;
            }
        }
        .map-content{
            position:relative;
        }
        .YaMap {
            width:99.9%;
            height:400px;
            padding:8px 0 0;
        }
        .aim {
            position: absolute;
            width: 32px;
            height: 32px;
            z-index: 100;
            background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABs0lEQVR42uWXzysEYRjHZ8vR0Y/z66BEItnIwT8gFwdHtSdtUkpaSW+TRFJKkpNydHCRf8BBtt1EIuVgzn4cHRWfp9l6Z2cHO2bWq0x9nsO87/N9v/M+877zTsZJcin97nhuJolEouTfNaB0F3EUstAjd6AFXsCDGyjBKabu0jOg9CBxEkbgHs7hCh7gEdqhA/pgGDrhDA4xUk5mQOk8cQLKFcHLUHttCZTurxgW40e078Y3oHQzcREGYAeRk3qnNKAxRpyBC1hD4zWOgdXKVK6QeB17cKPTS1x2pHSeu1SfAX/ax2Eh0eDVJjbgOKoc4fpJ3dZh60fT/rkJKcccFMIvZtjAJvGNToXUBjfa8mBNaM9HG/DX+T7ka972dAzI6pAS5IL7RNDAtCPr2HOnUh/cjHHgyD7iuXtRBuTpS8HGBhiQh8wyRi7KgGyjszQWYwjG+xYoPUTcJicbZeCZ2E3jUwMNtBFvyWk1BkQkfH0nmmLOH5gB02j9HbC+CqzvA5Z3Qr+TxW+B38ny19DvbPE8YJIsnoj8RMtnQiNi6VRcLWjxv6DaiKU/o69N/aef0wZdH0hH9SEDyB1IAAAAAElFTkSuQmCC) no-repeat left center;
        }
        .form-group{
            padding: 10px 10px 0;
        }