# Корневой файл EditorConfig
root = true

charset = utf-8
indent_style = space

[*.js]
indent_size = 4
[*.slim]
indent_size = 2

# Для всех файлов используем unix-совместимые переносы строк
end_of_line = lf
insert_final_newline = true
