doctype html
html(ng-app="APP")
    include includes/head
    body
        div.container(ng-controller="MainCtrl")
            div.col-xs-4
                include includes/popular_friends
            div.col-xs-7.pull-right
                include includes/photo_serach

